* {
	font-family: 'Zilla Slab', serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  background: url(back.avif) repeat;
  background-size: cover;
}

.navbar {	
	display: flex;
	flex-direction: row;
	margin-top: 12px;
	padding: 10px;
	gap: 10px;
	justify-content: center;
}


.navbar > div {
	flex: 1;
	background-color: #F0FFFF;
	border-radius: 25px;
	border: 3px solid #b8c7e37e;
	padding: 10px 30px;
}

.navbar > div > p {
	text-align: center;
	font-size: medium;
	font-size: large;
	font-weight: bold;
}

.inlineDivs {
	display: flex;
}

.inlineDivs > div {
	display: inline-block;
	
}

.sidebar {
	border-radius: 25px;
	border: 3px solid #b8c7e37e;
	flex-grow: 1;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.783);
	padding-inline: 15px;
	margin-inline: 15px;
}

.postwindow > div:hover {
	transform: scale(1.1);
}

.postwindow {
	flex-grow: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	border: 3px solid #b8c7e37e;
	margin: 10px;
	padding: 10px;
	height: 100vh;
	overflow-x: hidden;
    overflow-y: auto;
}

.postwindow > div {
	border-style: groove;
	border-color: rgba(220, 207, 230, 0.7);
	box-sizing: content-box;
	width: 60%;
	border-radius: 18px;
	margin: 10px;
	background-color: rgba(220, 207, 230, 0.2);
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	

}

div.postwindow p {
	margin: 5%;
	font-weight: normal;
	color: #000000;
	text-align: left;
	padding-left: 10px;
	padding-top: 7px;
    
  }

  div + .navbar {
	text-align: center;
	font-size: medium;
	font-size: large;
	font-weight: bold;
  }

  .loginRef {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 18%;
  }


.pic1 {
	display: flex;
	margin-left: auto;
    margin-right: auto;
	width: 445px;
	height: 280px;
	padding-top: 20px;
	position: relative;
	
}

div.postwindow h1{
	vertical-align: top;
	float: left;
	padding-left: 50px;
	position: relative;
	margin: auto;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.postwindow h2{
	vertical-align: top;
	float: right;
	padding-right: 50px;
	font-size: small;
	position: relative;
	margin: auto;
	padding-top: 10px;
}

.addPostPanel {
	background-color: #F0FFFF;
	opacity: 0.5;
	border-radius: 25px;
	border: #9da7b4;
	border-style: groove;
	width: 400px;
	height: 300px;
	margin: auto;

	display: flex;
	flex-direction: column;
	align-items: center;

}

.addPostPanel form {
	display:inline-block;
}

.addPostPanel textarea {
	resize:none;
}

.addPostPanel button {
	margin-top: 35px;
	width: 200px;
	height: 30px;
}

.navbar p > a:hover {
    background-color: rgba(207, 181, 214, 0.516);
	cursor: pointer;

}


.footer {
	text-align: center;
	text-decoration-color: #34495e;
	font-size: medium;
	font-style: italic;
	border: 3px solid #b8c7e37e;
	background-color: rgba(255, 255, 255, 0.783);
}

ul {
	list-style-type: none;
}

form {
	border: #9da7b4;
	border-style: outset;
	border-radius: 3px;
	box-sizing: content-box;
	width: 20%;
	text-align: auto;
	font-size: larger;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.783);
}

.formDiv { 
	display: flex; 
	justify-content: center; 
	margin-top: 100px; 
}

a {
	color: #000 !important;
	text-decoration: none
  }
